<div class="container">

  <div *ngIf="error" class="alert alert-danger" role="alert">
      <h3>Error</h3>
      <p>Ocurrió un error al realizar la petición --> {{ mensajeError }}</p>
  </div>

  <div class="row">
    <div class="col">
      <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar">
    </div>
  </div>
  
  <app-loading *ngIf="loading" class="m-5"></app-loading>

  <!--div class="card-columns m-5">

    <div *ngFor="let artist of artistas" class="card">
      <img class="card-img-top" [src]="artist.images | noimage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ artist.name }}</h5>
      </div>
    </div>
  
  </div-->
  <app-tarjetas *ngIf="!loading" [items]="searchArtistas"></app-tarjetas>

</div>